<launch>
	<arg name="output_frame" default="_opitical_ir_frame" />
	<node pkg="camerapose_server" name="camerapose_server"  type="camerapose_server" output="screen">
		<param name="output_frame" value="$(arg output_frame)"/>
	</node>
	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="ar_marker_rviz" args="-d $(find camerapose_server)/rviz/ar_marker_double.rviz" />
</launch>