<launch>
	<!-- option of camera pose estimation -->
	<arg name="cameraNum" default="2"/>
	<arg name="markerNum" default="4"/>
	<arg name="sampleNum" default="200"/>
	<arg name="samplingTime" default="0.2"/>
	<arg name="image_enable" default="true"/>
	<arg name="pcd_enable" default="true"/>
	<arg name="distanceThreshold" default="0.2"/>

	<!-- position of ar_marker -->
	<arg name="marker1_pos_x" default="0.49"/>
	<arg name="marker1_pos_y" default="0.49"/>
	
	<arg name="marker2_pos_x" default="0.49"/>
	<arg name="marker2_pos_y" default="-0.49"/>

	<arg name="marker3_pos_x" default="-0.49"/>
	<arg name="marker3_pos_y" default="0.49"/>
	
	<arg name="marker4_pos_x" default="-0.49"/>
	<arg name="marker4_pos_y" default="-0.49"/>

	<arg name="marker5_pos_x" default="0.49"/>
	<arg name="marker5_pos_y" default="0.49"/>
	
	<arg name="marker6_pos_x" default="0.49"/>
	<arg name="marker6_pos_y" default="-0.49"/>
	
	<arg name="marker7_pos_x" default="-0.49"/>
	<arg name="marker7_pos_y" default="0.49"/>

	<arg name="marker8_pos_x" default="-0.49"/>
	<arg name="marker8_pos_y" default="-0.49"/>
	

	<!-- option of AR marker tracker -->
	<arg name="marker_size" default="27.0" />
	<arg name="max_new_marker_error" default="0.01" />
	<arg name="max_track_error" default="0.01" />

	<!-- option of camera topic -->
	<arg name="cam1_name" default="env_cam00"/>
	<arg name="cam2_name" default="env_cam01"/>

	<arg name="image_topic" default="/hd/color/image_raw" />
	<arg name="info_topic" default="/hd/camera_info"/>	
	<arg name="pcd_topic" default="/depth_registered/points" />
	<arg name="pcd_info_topic" default="/camera_info"/>	
	<arg name="output_frame" default="/rgb_optical_frame" />

	<arg name="cam1_image_topic" default="$(arg cam1_name)$(arg image_topic)" />
	<arg name="cam1_info_topic" default="$(arg cam1_name)$(arg info_topic)"/>	
	<arg name="cam1_pcd_topic" default="$(arg cam1_name)$(arg pcd_topic)" />
	<arg name="cam1_pcd_info_topic" default="$(arg cam1_name)$(arg pcd_info_topic)"/>	
	<arg name="output1_frame" default="$(arg cam1_name)$(arg output_frame)" />
	<arg name="cam2_image_topic" default="$(arg cam2_name)$(arg image_topic)" />
	<arg name="cam2_info_topic" default="$(arg cam2_name)$(arg info_topic)"/>
	<arg name="cam2_pcd_topic" default="$(arg cam2_name)$(arg pcd_topic)" />	
	<arg name="cam2_pcd_info_topic" default="$(arg cam2_name)$(arg pcd_info_topic)"/>
	<arg name="output2_frame" default="$(arg cam2_name)$(arg output_frame)" />
	
	<!-- ar_track_alvar -->
	<group if="$(arg image_enable)">
		<node name="ar_track_alvar1" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen"
	 	args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam1_image_topic) $(arg cam1_info_topic) $(arg output1_frame) $(arg cam1_name)" />
		<node name="ar_track_alvar2" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen"
		args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam2_image_topic) $(arg cam2_info_topic) $(arg output2_frame) $(arg cam2_name)" />
	</group>
	
    <!-- ar_track_alvar -->
	<group if="$(arg pcd_enable)">
		<node name="ar_track_alvar1_pcd" pkg="ar_track_alvar" type="individualMarkers" respawn="false" output="screen"
		args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam1_pcd_topic) $(arg cam1_info_topic) $(arg output1_frame) $(arg cam1_name)" />
		<node name="ar_track_alvar2_pcd" pkg="ar_track_alvar" type="individualMarkers" respawn="false" output="screen"
		args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam2_pcd_topic) $(arg cam2_info_topic) $(arg output2_frame) $(arg cam2_name)" />
	</group>
	
	<!-- camera pose estimation -->
	<node pkg="camerapose_server" name="arpose_server"  type="arpose_server" output="screen">
		<param name="markerNum" value="$(arg markerNum)"/>

		<param name="marker1_pos_x" value="$(arg marker1_pos_x)"/>
		<param name="marker1_pos_y" value="$(arg marker1_pos_y)"/>

		<param name="marker2_pos_x" value="$(arg marker2_pos_x)"/>
		<param name="marker2_pos_y" value="$(arg marker2_pos_y)"/>

		<param name="marker3_pos_x" value="$(arg marker3_pos_x)"/>
		<param name="marker3_pos_y" value="$(arg marker3_pos_y)"/>

		<param name="marker4_pos_x" value="$(arg marker4_pos_x)"/>
		<param name="marker4_pos_y" value="$(arg marker4_pos_y)"/>

		<param name="marker5_pos_x" value="$(arg marker5_pos_x)"/>
		<param name="marker5_pos_y" value="$(arg marker5_pos_y)"/>

		<param name="marker6_pos_x" value="$(arg marker6_pos_x)"/>
		<param name="marker6_pos_y" value="$(arg marker6_pos_y)"/>

		<param name="marker7_pos_x" value="$(arg marker7_pos_x)"/>
		<param name="marker7_pos_y" value="$(arg marker7_pos_y)"/>

		<param name="marker8_pos_x" value="$(arg marker8_pos_x)"/>
		<param name="marker8_pos_y" value="$(arg marker8_pos_y)"/>
	</node>

	<node pkg="camerapose_server" name="camerapose_saver"  type="camerapose_saver" output="screen">
		<param name="cameraNum" value="$(arg cameraNum)"/>
		<param name="sampleNum" value="$(arg sampleNum)"/>
		<param name="distanceThreshold" value="$(arg distanceThreshold)"/>
	</node>
	
	<node pkg="camerapose_server" name="camerapose_estimater1"  type="camerapose_estimater" output="screen">
		<param name="cameraName" value="$(arg cam1_name)"/>
		<param name="markerNum" value="$(arg markerNum)"/>
		<param name="pcd_enable" value="$(arg pcd_enable)"/>
		<param name="image_enable" value="$(arg image_enable)"/>
	</node>

	<node pkg="camerapose_server" name="camerapose_estimater2"  type="camerapose_estimater" output="screen">
		<param name="cameraName" value="$(arg cam2_name)"/>
		<param name="markerNum" value="$(arg markerNum)"/>
		<param name="pcd_enable" value="$(arg pcd_enable)"/>
		<param name="image_enable" value="$(arg image_enable)"/>
	</node>

	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="ar_marker_rviz" args="-d $(find camerapose_server)/rviz/ar_marker_double.rviz" />
</launch>