<!-- Changed from pepper_full_py.launch -->
<!-- Added namespace to TF -->

<launch>

	<arg name="nao_ip"				      default="$(optenv NAO_IP 127.0.0.1)" />
  <arg name="nao_port"            default="$(optenv NAO_PORT 9559)" />
  <arg name="namespace"           default="pepper_robot" />
  <arg name="network_interface"   default="enp4s0" />


  <!-- Use CPP node by default for nao_sensors -->
	<arg name="version" default="1.0" />
	<include file="$(find pepper_description)/launch/pepper_upload.launch">
		<arg name="version" value="$(arg version)"/>
	</include>

	<!-- launch tf publiser with namespace using "tf_prefix" except odom, base_link -->
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" >
		<param name="tf_prefix"	type="string"	value="$(arg namespace)" />
	</node>

  <!-- nao driver works for pepper -->
	<!-- publish odom, base_link tf with namespace using "tf_prefix" -->
	<node pkg="naoqi_driver_py" type="naoqi_joint_states.py" name="naoqi_joint_states" required="true" args="--pip=$(arg nao_ip) --pport=$(arg nao_port) --network_interface=$(arg network_interface)">
			<param name="use_odometry" 	type="bool" 	value="true" />
			<param name="tf_prefix"			type="string"	value="$(arg namespace)" />
	</node>


	<node pkg="naoqi_driver_py" type="naoqi_moveto.py" name="naoqi_moveto" required="true" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" output="screen"/>
  <node pkg="naoqi_driver_py" type="naoqi_logger.py" name="nao_logger" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" />



	<!-- launch sensor manager -->
  <include file="$(find pepper_sensors_py)/launch/camera.launch" ns="camera/depth" >
    <arg name="nao_ip"    value="$(arg nao_ip)" />
    <arg name="source"          value="2" />
    <arg name="color_space"     value="17" />
    <arg name="resolution"      value="1" />
  </include>

  <include file="$(find pepper_sensors_py)/launch/camera.launch" ns="camera/front" >
    <arg name="nao_ip"    value="$(arg nao_ip)" />
    <arg name="source"          value="0" />
    <arg name="color_space"     value="13" />
  </include>


  <!-- launch pose manager -->
  <include file="$(find naoqi_pose)/launch/pose_manager.launch" ns="pose" >
    <arg name="nao_ip"            value="$(arg nao_ip)" />
  </include>


  <!-- launch perception -->
  <include file="$(find pepper_bringup)/launch/perception.launch.xml">
		<arg name="namespace"         value="$(arg namespace)" />
  </include>


</launch>
