<launch>

	// launch map server map->pepper01/map----------------------------------------
	<!-- provide map -->
	<node name="map_server" pkg="map_server" type="map_server"
			args="$(find printeps_pepper_modules)/map/map.yaml" respawn="false" >
			<param name="use_map_topic" 	value="true"/>
			<!--remap from="map" 				to="$(arg namespace)/map" /-->
			<param name="frame_id" 			value="map" />
	</node>

</launch>
